.App {
  padding: 5vh;
}

.container {
  padding: 10px;
}

.rowList {
  background-color: rgba(235, 195, 195, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 20px;
  width: 30%;
}
